<footer>
    <p>&copy; <%= config.author %></p>
    <p>
        <%- __("footer.poweredByHexo") %>, <%- __("footer.themeBySunnybyeon") %>
    </p>
</footer>

<script src="<%- url_for('/js/font-toggle.js') %>"></script>
